.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo
test-results

# Microfox report files
packages/*/research-report.md
packages/*/build-report.md
packages/*/doc-report.md
packages/*/codegen-report.md

apps/**/public/assets/*
apps/**/out/**

# SLS
env.json
.build
.serverless

*.plan

/examples/remotion/out/*
/examples/remotion/public/*
/examples/remotion/out
/examples/remotion/public

/karcreativeworks
/karcreativeworks/*

apps/mediamake/docs/random/*